asgiref==3.7.2
beautifulsoup4==4.12.2
black @ git+https://github.com/psf/black@935f303a0a7b794e722c7df00c906be285884874
certifi==2023.7.22
cfgv==3.4.0
charset-normalizer==3.2.0
click==8.1.7
colorama==0.4.6
distlib==0.3.7
Django==4.2.4
django-bootstrap-icons==0.8.3
django-bootstrap-v5==1.0.11
filelock==3.12.4
identify==2.5.30
idna==3.4
mypy-extensions==1.0.0
nodeenv==1.8.0
packaging==23.2
pathspec==0.11.2
platformdirs==3.11.0
pre-commit==3.5.0
PyYAML==6.0.1
requests==2.31.0
soupsieve==2.5
sqlparse==0.4.4
tzdata==2023.3
urllib3==2.0.4
virtualenv==20.24.5
