<!DOCTYPE html>
<html lang="" en">
<head>
  <meta charset="utf-8">
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  {% load bootstrap_icons %}
  {% load static %}
  <title>Home</title>
  <link rel="stylesheet" href="{% static 'home/css/index.css' %}">
  <script src="{% static 'home/js/loadVideos.js' %}"></script>

</head>

<body>
<div id="wrapper">
  <div id="header">

    <div class="container-in-header flex-center">
      <div id="navigation" class="flex-center">
        {% bs_icon 'list' extra_classes='navigation'%}
      </div>
      <div id="logo">
        {% bs_icon 'youtube'%} MeTube
      </div>
    </div>

    <div id="search" class="flex-center">
      <input id="search-bar">
    </div>

    <div id="account" class="container-in-header">
      <span class="account-items">{% bs_icon 'camera-reels'%}</span>
      <span class="account-items">{% bs_icon 'bell'%}</span>
      <span class="account-items">
        <div class="account-circle"></div>
      </span>
    </div>
  </div>

  <div id="content">
    <ul id="content-navigation-menu">
      <li>
        {% bs_icon 'house-door-fill' extra_classes='content-navigation-menu-options'%}
        <a>Home</a>
      </li>
      <li>
        {% bs_icon 'film' extra_classes='content-navigation-menu-options'%}
        <a>Shorts</a>
      </li>
      <li>
        {% bs_icon 'fast-forward-btn' extra_classes='content-navigation-menu-options'%}
        <a>Subscriptions</a>
      </li>
      <li>
        {% bs_icon 'fast-forward-btn-fill' extra_classes='content-navigation-menu-options'%}
        <a>Library</a>
      </li>
    </ul>

    <div id="content-other">
      <div id="scroll-list" >
        <button class="scroll-button" autofocus>Button</button>
        <button class="scroll-button">Button</button>
        <button class="scroll-button">Button</button>
        <button class="scroll-button">Button</button>
      </div>

      <div id="content-video">
        <div id="general-video"></div>

      </div>

    </div>
  </div>

</div> <!-- Wrapper Div-->
</body>

</html>
