<!DOCTYPE html>
<html lang=""en">
    <head>
        {% load bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        {% load bootstrap_icons %}
        {% load static %}
        <title>Home</title>
        <link rel="stylesheet" href="{% static 'home/home.css' %}">
</head>
    </head>
    <body>
        <h1>Hello, World</h1>
        <div id="container" class="d-flex flex-row justify-content-between align-items-center"><!--Main Head container-->
            <div class="p-2"><!--Menu and Logo-->
                <div class="list-container">
            <!-- List Icon from Bootstrap for Menu-->
                    {% bs_icon 'list' %}
                </div>
                <h2> Logo</h2>
            </div>
            <div class="p-4"> 
                <h2>Search</h2>
            </div>
            <div class="p-2">
                <h2>Other Buttons Icons</h2>
            </div>
        </div>
    </body>
</html>