* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#wrapper {
    width: 98%;
    margin: auto;
}

#header {
    display: flex;
    flex-direction: row;
    min-height: 50px;
    align-items: center;
}

.container-in-header {
    display: flex;
    flex-direction: row;
    width:200px;
    justify-content: space-around;
    padding-left: 5px;
    padding-right: 5px;
}

#navigation svg {
    width: 50px;
}

#logo {
    width: 100px;
}

#search {
    flex-grow: 1;
    padding-left: 1%;
    padding-right: 1%;
}

#account {
    display: flex;
    flex-direction: row;
    padding-left: 5px;
    padding-right:5px;
}

.account-items:nth-child(2){
    padding-left: 5px;
    padding-right: 5px;
}

#content {
    display: flex;
    flex-direction: row;
}

#content-navigation-menu {
    list-style-type: none;
    width: 200px;
}

#content-navigation-menu li {
    display: flex;
    justify-content: space-around;
}

#content-navigation-menu svg {
    justify-content: center;
    width: 60px;
}

#content-navigation-menu span {
    width: 100px;
    justify-content: start;
}

@media (max-width: 1400px) {
    #content-navigation-menu li{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #content-navigation-menu span{
        justify-content: center;
        text-align: center;
    }

    #content-navigation-menu svg {
        justify-content: center;
        width: 50px;
    }
  
    #content-navigation-menu {
        width: 80px;
    }

}

#content-other {
    flex-grow: 1;
}

#content-video {
    background-color: beige;
}

.list-container{
    display: inline-block;
    position: relative;
}

.list-container:hover::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px; 
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    z-index: -1; 
} 


.scroll-list {
    white-space: nowrap;
    min-height: 50px;
}

.scrollable-buttons {
    display: flex;
    overflow: hidden;
}

.scroll-button {
    display: inline-block;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    position: relative;
    z-index: 0;
}

.transparent-rectangle {
    height: 50px;
    width: 100px;
    background: linear-gradient(to right, rgba(255,255,255,0.25), rgb(255,255,255,1));
    position: relative;
    z-index: 1;
    display: inline-block;
    left: -175px;
    top: 20px;
}

#arrow {
    background-color: white;
    border-style: double;
    position: relative;
    z-index: 2;
}